<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %} {% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} base page {% endblock title %}</title>
    <script>
        // Function to display an alert message
        function showAlert(message) {
            alert(message = "Invalid Credentials");
        }

        // Check if there's an error message from the server
        window.onload = function() {
            {% if error_message %}
                showAlert("{{ error_message }}");
            {% endif %}
        }
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    {% block body %}
    <h1>Crime Record Management System</h1>
    <form method="POST" action="/base"> <!--action should be the page-->
        {% csrf_token %}
        <h2> base page </h2>
        <button type="submit">Login</button>
    </form>
    {% endblock body %}
</body>
</html>
