<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block head %} {% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Login Page {% endblock title %}</title>
    <script src="{% static '/popup_errors.js' %}"> </script> <!-- Link to the JavaScript file -->
    <script>
        // Set the error message from the server as a global variable
        window.errorMessage = {% if error_message %}"{{ error_message }}"{% else %}null{% endif %};
    </script>

    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <h3>Login Page</h3>
    {% block body %}
    <h1>Crime Record Management System</h1>
    <form method="POST" action="/login"> <!--action should be the page-->
        {% csrf_token %}
        
        <label for="Username"><b>Username:</b></label> <!-- for value and id value should match -->
        <input type="text" style="font-style:italic" id="Username" name="Username" placeholder="Username" required><br>
        <label for="Password"><b>Password:</b></label>
        <input type="password"  style="font-style:italic" id="Password" name="Password" placeholder="Passowrd" required><br>    
        <div class="button-container">
            <button type="submit" name="login" style="margin-left: 310px">Login</button>
            <button type="submit" name="signup" style="margin-left: 10px"  onclick="handleSignupClick()">Sign up</button>
        </div>
        
    </form>
    {% endblock body %}
</body>
</html>
