<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %} {% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Login Page {% endblock title %}</title>
    <script>
        // Function to display an alert message
        function showAlert(message) {
            alert(message = "Invalid Credentials");
        }

        // Check if there's an error message from the server
        window.onload = function() {
            {% if error_message %}
                showAlert("{{ error_message }}");
            {% endif %}
        }

        // Function to remove required attributes when Sign Up is clicked
        function handleSignupClick() {
            document.getElementById('Username').removeAttribute('required');
            document.getElementById('Password').removeAttribute('required');
        }

    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <h3>Login Page</h3>
    {% block body %}
    <h1>Crime Record Management System</h1>
    <form method="POST" action="/login"> <!--action should be the page-->
        {% csrf_token %}
        
        <label for="Username"><b>Username:</b></label> <!-- for value and id value should match -->
        <input type="text" style="font-style:italic" id="Username" name="Username" placeholder="Username" required><br>
        <label for="Password"><b>Password:</b></label>
        <input type="password"  style="font-style:italic" id="Password" name="Password" placeholder="Passowrd" required><br>    
        <div class="button-container">
            <button type="submit" name="login" style="margin: 50px">Login</button>
            <button type="submit" name="signup" style="margin: 50px"  onclick="handleSignupClick()">Sign up</button>
        </div>
        
    </form>
    {% endblock body %}
</body>
</html>
